body {
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #333;
    color: #fff;
  }
h1 {
    font-family: Georgia, "Times New Roman", Times, serif; 
  }
header {
    text-align: center;
    background-color: #add8e6; 
    color: #fff; 
    padding: 15px; 
    border-radius: 8px; 
  }
section {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #ddd; 
    padding: 20px;
    border-radius: 8px; 
    background-color: #f9f9f9; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

section:nth-child(odd) {
    background-color: #ffffff; 
}
section p {
    line-height: 1.6; 
    color: #333;;
}
section li {
    line-height: 1.6; 
    list-style-type: none; 
    color: #007bff; 
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
section h2 {
    color: #333; 
    border-bottom: 2px solid #007bff; 
    padding-bottom: 5px;
    margin-top: 0; 
}
nav {
    display: flex; 
    justify-content: center; 
    background-color: #333;
    padding: 10px 0;
  }
nav a {
    color: white; 
    text-decoration: none; 
    padding: 14px 16px; 
    font-family: sans-serif; 
    font-size: 17px; 
  }
nav a:hover {
    color: #007bff; 
    text-decoration: underline;
  }
  
ul {
    list-style-type: none; 
  }
footer {
    background-color: #add8e6; 
    height: 160px;
    text-align: center; 
    font-size: 0.9em; 
    color: #666; 
    padding: 10px; 
    border-radius: 8px; 
  }
  